@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ProjectTask
@{
    ViewData["Title"] = "Edit Task";
}

<h2>Edit Task</h2>

<form asp-controller="Task" asp-action="Edit" method="post">
    @Html.HiddenFor(model => model.ProjectTaskId)

    <div class="form-group">
        <label asp-for="Title" class="control-Label">Name</label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-Label">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProjectId" class="control-Label">Project</label>
        <select asp-for="ProjectId" asp-items="ViewBag.Projects" class="form-label"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a asp-action="Index" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary">Cancel and return to list</a>
    </div>
</form>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptPartial");
    }
}