@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">About Me</h1>

    <ul>
        <li>Name: Khoa Huynh</li>
        <li>Student ID: 101418497</li>
        <li>Course Code: COMP2139</li>
        <li>Course Section: 54720</li>
        <li>Term: Winter 2024</li>
    </ul>
</div>
