@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "404 Not Found";
}

<h1>404 - Page Not Found</h1>
<p>we couldn't find the page lol</p>
<a href="@Url.Action("Index", "Home")">Return to Home</a>