@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Week04.Models.Entities.Courses>
<h1> Courses </h1>
<table class=" table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Courses in Model){
            <tr>
                <td>@Courses.Id</td>
                <td>@Courses.Name</td>
                <td>@Courses.Code</td>
                <td>
                    <a class ="btn btn-primary" asp-controller="Courses" asp-action="Edit" asp-route-id="@Courses.Id"> Edit</a>
                </td>
            </tr>

        }

    </tbody>

</table>